<!-- <h1>{{title}}</h1> -->
<ul>
    <li *ngFor="let book of books"> {{book.title}}
        <a routerLink="/book/{{book._id}}">{{book.title}}</a>
    </li>

</ul>

<form style="width: 500px;">


    <h5>
        Add New book

    </h5>
    <div class="form-group">
        <label for="title">Title: </label>
        <input type="text" name="title" class="form-control" required [(ngModel)]="book.title" style="color:black" />
    </div>

    <div class="form-group">
        <label for="keyword"> Keyword: </label>
        <input type="text" name="keyword" class="form-control" required [(ngModel)]="book.keyword" style="color:black" />
    </div>


    <div class="form-group">
        <label for="minPlayers">isbn: </label>
        <input type="number"  class="form-control" name="isbn" required
            [(ngModel)]="book.isbn" style="color:black" />
    </div>


    <div class="form-group">
        <label for="maxPlayers">Author: </label>
        <input type="number"  name="author" class="form-control" required
            [(ngModel)]="book.author" style="color:black" />

    </div>


    <button (click)="save()" class="btn btn-success">Add book</button><BR />

</form>

<!-- <router-outlet></router-outlet> -->